/* Общие стили */
@font-face {
    font-family: 'Felidae';
    src: url('../fonts/Alistair-Signature.woff2') format('woff2');
    
}

@font-face {
    font-family: 'Alistair';
    src: url('../fonts/Felidae.woff2') format('woff2');
    
}
/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
}

.section {
    min-height: 100%; /* Каждый блок занимает весь экран */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Убираем padding, чтобы блоки занимали весь экран */
}

.section-light {
    background-color: #ffffff;
}

.section-dark{
    min-height: 70vh;
    height: 100%;

}
.text-center-custom {
    text-align: center;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}
/* Стили для карты */
#map {
    width: 100%;
    max-height: 400px;
    border-radius: 37px; 
}

#maptext{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Felidae';
    color: #000;
}

/* Первый блок */
.first-block {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.names {
    font-family: 'Felidae';
    font-size: 123px;
    text-align: center;
    margin-bottom: 80px;
    line-height: 1.2;
}

.photo-container {
    position: relative;
    width: 1034px;
    height: 689px;
    margin-bottom: 100px;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 37px;
    position: relative;
    z-index: 2;
}

.photo-frame {
    position: absolute;
    width: 1034px;
    height: 689px;
    border: 2px solid #000;
    border-radius: 37px;
    top: 8%;
    left: 8%;
    z-index: 10;
}

.vertical-line {
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
}

.horizontal-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* Второй блок */
.second-block {
    background-image: url("images/image36.png");
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    box-sizing: border-box;
    
}

.name{
    align-items: center;
}

.dear-friends {
    font-family: 'Alistair';
    font-size: 111px;
    text-align: center;
    margin-bottom: 60px;
    line-height: 1;
}

.invitation-text {
    font-family: 'Felidae';
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.3;
}


.month {
    text-align: center;
    font-family: 'Felidae';
    font-size: 40px;
}

.day {
    text-align: center;
    font-family: 'Felidae';
    font-size: 188px;
    
}

.year {
    text-align: center;
    font-family: 'Felidae';
    font-size: 40px;
}

.celebration-text {
    font-family: 'Felidae';
    font-size: 48px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 1.3;
    max-width: 900px;
}

.schedule {
    width: 70%;
    margin-top: auto;
    margin-bottom: 20px;
}

.schedule-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.time {
    font-family: 'Felidae';
    font-size: 36px;
    width: 120px;
}

.event {
    font-family: 'Felidae';
    font-size: 36px;
    flex-grow: 1;
    padding-left: 50px;
}

/* Третий блок */
.location-section {
    padding: 80px 0;
    background-color: #f9f3e9;
    font-family: 'Felidae', serif;
    color: #333;
}

.location-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #5a3e3e;
    position: relative;
    display: inline-block;
}

.location-title:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #b38b8b;
}

.address-block {
    padding-right: 40px;
}

.address-label {
    font-size: 24px;
    color: #8a6d6d;
    margin-bottom: 20px;
}

.address-description {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.address-details {
    font-size: 22px;
    font-style: italic;
    color: #5a3e3e;
}

.venue-name {
    font-size: 32px;
    color: #5a3e3e;
    margin-bottom: 30px;
    text-align: center;
}

#map {
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: 1px solid #d2a6a6;
}

/* Адаптивность */
@media (max-width: 768px) {
    .names {
        font-size: 80px;
    }
    
    .photo-container,
    .photo-frame {
        width: 90%;
        height: auto;
        aspect-ratio: 1034/689;
    }
    
    .dear-friends {
        font-size: 80px;
    }
    
    .date-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .month, .year {
        align-self: center;
    }
    
    .address-block {
        padding-right: 0;
        margin-bottom: 40px;
    }
    
    .venue-name {
        text-align: left;
    }
}

/* Блок с дресс-кодом */
.dresscode-section {
    padding: 20px 0;
    background-color: #fff;
    font-family: 'Felidae', serif;
    position: relative;
}

.dresscode-title {
    font-size: 42px;
    color: #5a3e3e;
    margin-bottom: 20px;
    position: relative;
}

.dresscode-title:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: #b38b8b;
}

.dresscode-subtitle {
    font-size: 24px;
    color: #8a6d6d;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.5;
}

.color-palette {
    margin: 50px 0;
}

.color-box {
    width: 90%;
    height: 150px;
    margin: 0 auto 15px;
    border-radius: 40px 40px 0 0 ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

.color-code {
    font-family: 'Felidae';
    font-size: 16px;
    text-align: center;
    color: #5a3e3e;
}

.section-line-top,
.section-line-bottom {
    height: 1px;
    background-color: #000;
    margin: 40px 0;
    position: relative;
}



@media (max-width: 768px) {
    .dresscode-title {
        font-size: 32px;
    }
    
    .dresscode-subtitle {
        font-size: 20px;
        padding: 0 20px;
    }
    
    .color-box {
        width: 80px;
        height: 80px;
    }
}

.color-box {
    transition: transform 0.3s ease;
}
.color-box:hover {
    transform: scale(1.05);
}

/* Блок анкеты гостя */
.rsvp-section {
    padding: 80px 0;
    
    font-family: 'Felidae';
}

.rsvp-title {
    font-size: 42px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

.rsvp-title:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin: 15px auto;
}

.rsvp-subtitle {
    font-size: 24px;
    color: #8a6d6d;
    text-align: center;
    margin-bottom: 50px;
}

.rsvp-form {
    border: 1px 0 0 0 solid #000;
    padding: 40px;
    
}

.borderForm{
   border-left: 2px solid #000; 
}

.borderButton{
    border: 2px solid #000;
}

.form-label {
    font-size: 20px;
    color: #5a3e3e;
    margin-bottom: 10px;
    display: block;
}

.form-control {
    border: 1px solid #d2a6a6;
    border-radius: 5px;
    padding: 12px 15px;
    font-size: 18px;
    font-family: 'Felidae';
}

.input-group-text {
    
    border: 1px solid #d2a6a6;
    color: #5a3e3e;
    font-family: 'Felidae';
}

.rsvp-options {
    display: flex;
    gap: 30px;
}

.form-check {
    margin-bottom: 15px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-size: 18px;
    color: #5a3e3e;
}

.btn-submit {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    display: block;
    font-family: 'Felidae';
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #1b1b1b;
    color: white;
}



.horizontal-line-form {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.rsvp-note {
    border-color: #000;
    font-size: 18px;
    color: #5a3e3e;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .rsvp-title {
        font-size: 32px;
    }
    
    .rsvp-subtitle {
        font-size: 20px;
    }
    
    .rsvp-form {
        padding: 25px;
    }
    
    .rsvp-options {
        flex-direction: column;
        gap: 10px;
    }
}

.telegram-content {
    width: 100%;
}

.telegram-section {
    height: 540px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.telegram-section .line {
  
  border-bottom: 2px solid rgb(0, 0, 0);
  
}

.col{
    text-align: start;
}

.line{
    text-align: center;
    margin:  10px 0 10px 0 ;
}

.line-left{
    border-right: 2px solid black;
    height: 100%;
    min-height: 100px;
}

#maket {
    width: 100%; /* Ширина всей таблицы */
   }
   TD {
    
    vertical-align: top; /* Вертикальное выравнивание в ячейках */
    padding: 5px; /* Поля вокруг ячеек */
   }
   TD#leftcol {
    padding: 20px;
    width: 50%; /* Ширина левой колонки */
    border: 2px solid #000; /* Параметры рамки */
    border-left: 0px;
   }
   TD#rightcol {
    padding: 20px;
    border: 2px solid #000; /* Параметры рамки */
    border-right: 0px;
   }
   #spacer {
    width: 10px; /* Расстояние между колонками */
   }

   .table{
    margin-top: 20px;
   }

.dresscode-section.fullscreen-bg-section{
background-size: cover;
background-position: center;
  color: white; /* Измените цвет текста если нужно */
}
.dresscode-section.fullscreen-bg-section::before {
    z-index: -1;
    filter: blur(20px);
  
}



  .entries {
    width:calc(100% - 80px);
    max-width:800px;
    margin:auto;
    position: relative;
    left:-5px;
    .entry {
      width:calc(50% - 80px);
      float:left; 
      padding:20px;
      clear:both;
      text-align:right;
      &:not(:first-child) {
        margin-top:-60px;
      }
      .title {
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:#000000;
        &:before {
          content: '';
          position: absolute;
          width:8px;
          height:8px;
          border:4px solid #000000;
          background-color:#1D1D1D;
          border-radius:100%;
          top:50%;
          transform:translateY(-50%);
          right:-73px;
          z-index:1000;
        }
        &.big:before {
          width:24px;
          height:24px;
          transform:translate(8px,-50%);
        }
      }
      .body {
        color:#aaa;
        p {
          line-height:1.4em;
        }
      }
      &:nth-child(2n) {
        text-align:left;
        float:right;
        .title {
          &:before {
            left:-63px;
          }
          &.big:before {
            transform:translate(-8px,-50%);
          }
        }
      }
    }
  }
